
*{
    margin: 0;
    padding: 0;
 }

/*ul, ol{
    list-style: none;
}

header{
    width: 100%;
    
}

AQUI ESTA LA PARTE DEL NAVEGADOR, CON LOS EFECTOS DE DEGRADE 

nav{
    width: 100%;
    height: 9%;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 4px;
  position: fixed;
    z-index: 100;
    border-bottom:1px solid #555555;
    background: #8b8b8b;  Old browsers 
    border-bottom: 1px solid #555555; 
    background: -webkit-linear-gradient(top,  #757575 0%,#7e7e7e 49%,#6a6a6a 50%,#8b8b8b 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom,  #757575 0%,#7e7e7e 49%,#6a6a6a 50%,#8b8b8b 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#8b8b8b',GradientType=0 );  IE6-9 
}


.menu{
    width:70%;
    display:table;
    table-layout:fixed;
    float:left;
    AQUI ESTA LA TRANSICION QUE HACE LA BARRA DE TAREAS
    transition:all .5s ease;
   
}

.menu li{
    display: table-cell;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #5c5c5c;
    border-left: 1px  solid rgba(255,255,255,.2);
}

.menu li:first-child{
    border-left: none;
    
}

.menu li:first-child:hover{
    border-left: none;
    
}

EFECTOS DE LAS CAJAS
.menu li a{
    color: #ffffff;
    display: block;
    FUENTE DE GOOGLE FONTS
    font-family: 'Dosis', sans-serif;
    font-family: 'Questrial', sans-serif;
 ------------------------------------------   
    font-size: 14px;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    text-shadow:1px 1px 0px rgba(0,0,0.3);
    
    
}




.menu li:hover{
    background: rgba(0,0,0,.3);
    border-right:1px solid transparent;
    border-left:1px solid transparent;
    border-bottom: none;
    
    
}

.menu li:active {
    background:rgba(0,0,0,.3);
    box-shadow: inset 0px 9px 9px rgba(0,0,0,1);  
}


.serch_bar{
    width: 20%;
    margin-top: 0.5%;
    float:left;
    padding:7px 10px;
    box-sizing: border-box;
    position: relative;
    transition:all .5s ease;
    
}

EFECTO DE DRGRADE DE LA BARRA DE BUSQUEDA
.serch_bar input{
    width: 100%;
    
    height: auto;
    border-radius: 50px;
    border: none;
    border-bottom: 1px solid #858585;
    padding: 0px 10px 0px 25px;
    box-sizing: border-box;
    height: 22px;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);
     Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e7e7e+0,797979+47,6a6a6a+49,6e6e6e+49,767676+100,8b8b8b+100,8b8b8b+100,8b8b8b+100 
    background: #7e7e7e;  Old browsers 
    background: -moz-linear-gradient(top,  #7e7e7e 0%, #797979 47%, #6a6a6a 49%, #6e6e6e 49%, #767676 100%, #8b8b8b 100%, #8b8b8b 100%, #8b8b8b 100%);  FF3.6-15 
    background: -webkit-linear-gradient(top,  #7e7e7e 0%,#797979 47%,#6a6a6a 49%,#6e6e6e 49%,#767676 100%,#8b8b8b 100%,#8b8b8b 100%,#8b8b8b 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 47%,#6a6a6a 49%,#6e6e6e 49%,#767676 100%,#8b8b8b 100%,#8b8b8b 100%,#8b8b8b 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#8b8b8b',GradientType=0 );  IE6-9 
    
}
.serch_bar input:focus{
    background: #ffffff;
    box-shadow: none;
}

 ESTILOS DEL ICONO DE LA LUPA
.icon-search {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    text-decoration: none;
}

body{
    
    background: url(../imgs/fondo01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0,0;
    background-attachment: fixed;
    
 
}


ESTE ES EL ESTILO DEL FOOTER
.luis{
    color: white;
    font-family: 'Pacifico', cursive;
    font-family: 'Patrick Hand', cursive;
    background: black;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    margin: 30px; 
    text-align: left;
    
  
  
}


.txt1{
   background:rgba(24,8,33,.9);
	padding:20px;
	margin:20px 0;
        margin-right:50%;
        margin-left: 40px;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);

    
}

.txt2{
        background:rgba(24,8,33,.9);
	padding:20px;
	margin:20px 0;
        margin-right:40px;
        margin-left: 50%;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);

}

.niños1{
    width: 45%;
    height: 30%;
    border-radius: 15px;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    margin-left: 52%;
    padding: 0px;
     
}

.niños2{
    width: 45%;
    height: 30%;
    border-radius: 15px;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
  
}/Trabajaremos los estilos del login*/

.imagenes-carrusel{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
   text-align: center;
}
.imagenes-carrusel:hover 
{
    opacity: 2.0;
    filter: alpha(opacity=50);
    cursor: pointer;
}
/*Ojo que mis imagnes en pixeles son 1600 x 416*/
/*Aqui empeizan lso estilos del carrusel*/
#myCarousel
{
    height:60%;
    width: 100%;
    
}

.carousel-inner
{
    
line-height: 0px;
color: transparent; font-size: 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
text-transform: uppercase;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.carousel-inner :hover{
    line-height: 133px;
color: #575858;
}
.carousel-inner .imagenes-carrusel{ float: left;
margin: 0 15px;
}

.carousel-indicators li
{
       display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    border-radius: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

/*rabajaremos los estilos del navbar */

.icon-bar
{
    background: white;
}

.navbar-nav
{
background: rgb(141,211,219); 
background: -moz-linear-gradient(top, rgba(141,211,219,1) 63%, rgba(76,206,202,1) 76%); 
background: -webkit-linear-gradient(top, rgba(141,211,219,1) 63%,rgba(76,206,202,1) 76%); 
background: linear-gradient(to bottom, rgba(141,211,219,1) 63%,rgba(76,206,202,1) 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd3db', endColorstr='#4cceca',GradientType=0 );

    padding: 1%;
    text-align: center;
    width: 100%;
    margin-top: 0.5%;
}
ul.navbar-nav
{
   display: block;
   float: left;
}
.navbar ul{
    text-align: left;
}
.navbar-nav li{
    font-size: 100%;
    position: relative;
    float: left;
   
}
.navvbar ul li ul{
    display: none;
    position: absolute;
   
    width: 120%;
    
    list-style-type: none;
}
.nav li:hover > ul 
{
    display:block;
    width: 120%;
}
nav ul li ul li{
    width: 100%;
    border: 1px solid rgb(141,211,219);
    padding: 1% 1% 1% 1%;
    border-top: none;
}
nav ul li ul 
{
   border-top: 1px solid rgb(141,211,219); 
}

.navbar-nav li  a
{
    color: #ffffff;
    -webkit-transition: outline 5s linear;
    -moz-transition: outline 5s linear;
    -ms-transition: outline 5s linear;
    -o-transition: outline 5s linear;
    transition: outline 5s linear;
    text-transform: uppercase;
   font-weight: bold;
    font-size: 100%;
    display:block;
    
}
.navbar  ul li a:hover 
{
    background: #e0eae6; 
    color: black;
    -webkit-transition: outline 5s linear;
    -moz-transition: outline 5s linear;
    -ms-transition: outline 5s linear;
    -o-transition: outline 5s linear;
    transition: outline 5s linear;
}
.sub-menu ul
{
    width: 180%;
}
.sub-menu ul li a
{
    background: #ffffff;
    padding: 8%;
    color: black;
    
}
.sub-menu ul li a:hover
{
    background:rgb(141,211,219);
    color: #ffffff;
    
}
body
{
    background:url('../imgs/fondo.png');
}
#div-busqueda
{
  margin-left: 1%;  
}
#btn-Ingresar
{
    margin-left: 124px;
}
#caja-usuario
{
    background:#e0eae6;
    width: 70%;
    
    margin: 0 auto;
}
#caja-password
{
     background:#e0eae6;
    width: 70%;
    
    margin: 0 auto;
}
#boton_login
{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
.modal-header
{
  background: #449d44;  
}
.modal-content
{
   width: 60%; 
   margin: 0 auto;
}.modal-body
{
    padding: 7%;
}
#imagen-usuario
{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
}